*{
    box-sizing: border-box;
}
body{
    margin: 0%;
    padding: 0%;
    background-color: lightgoldenrodyellow;
}
.background img{
    width: 1535.7px;
}
.power{
    border: 4px solid lightgoldenrodyellow;
    border-radius: 10px;
    padding: 25px;
    position: absolute;
    top: 100px;
    left: 100px;
    width: 1044px;
    height: 600px;
    overflow-y: scroll;
    backdrop-filter: brightness(30%);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.power .heading{
    color: lightgoldenrodyellow;
    font-size: 20px;
}
.power h2{
    color: lightgoldenrodyellow;
    margin-top: 60px;
}
.power span{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    line-height: 25px;
}